.recipeContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;
    margin: 0 auto;
}


.recipeHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleContainer {
    position: relative;
    width: 65%;
    text-align: center;
}

.titleContainer img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 7px 10px 7px lightgrey;
}

.title {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    text-shadow: 3px 2px 4px white;
}
.data {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.ingredients {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 3px;
}
.ingredientItem {
    display: flex;
    justify-content: space-between;
    gap: 1px;
}

.dots {
    flex: 1 0;
    border-bottom: 1px dotted #000;
}

.rating {
    display: flex;
}