.form {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title input {
    padding: 5px;
    border-radius: 5px;
}

.sectionContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    border: 1px solid lightgray;

    /*padding: 10px 0;*/
}

.sectionContainer div {
    flex: 0 0 calc(49%);
    display: flex;
    justify-content: space-between;
}

.select {
    width: 33%;
}

.btn {
    width: fit-content;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
}

.ingredientItem {
    display: flex;
    gap: 10px;
}
.ingredientItem >* {
    flex: 1 1 33%;
}

